<a href="https://colab.research.google.com/github/Bigmee/Data-analysis-python-/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
x = np.arange(7)

In [3]:
certificates_earned = pd.Series(
    [8, 2, 5, 6],
    index=['Tom', 'Kris', 'Ahmad', 'Beau']
)

print(certificates_earned)

Tom      8
Kris     2
Ahmad    5
Beau     6
dtype: int64

Data Structure: Series

In [4]:
##IN MILLIONS 
G7_pop = pd.Series([100, 200, 400, 500, 700, 3400, 1400])

In [5]:
G7_pop

0     100
1     200
2     400
3     500
4     700
5    3400
6    1400
dtype: int64

In [6]:
G7_pop.size

7

In [7]:
G7_pop.name = "G7 populations in Million "

In [8]:
G7_pop.dtype

dtype('int64')

In [9]:
G7_pop.values

array([ 100,  200,  400,  500,  700, 3400, 1400])

In [10]:
type(G7_pop.values)

numpy.ndarray

In [11]:
G7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [12]:
G7_pop[1:4]

1    200
2    400
3    500
Name: G7 populations in Million , dtype: int64

In [13]:
G7_pop.index = [
    'USA', 'BBritain', 'China', 'Nigeria', 'Ghana', 'Canada', 'Cuba'
]

In [14]:
G7_pop

USA          100
BBritain     200
China        400
Nigeria      500
Ghana        700
Canada      3400
Cuba        1400
Name: G7 populations in Million , dtype: int64

In [15]:
##indexing
G7_pop['China']

400

In [16]:
#numerical position

G7_pop.iloc[0]

100

In [17]:
G7_pop[['Canada', 'Ghana']]

Canada    3400
Ghana      700
Name: G7 populations in Million , dtype: int64

In [18]:
G7_pop['USA': 'Ghana']

USA         100
BBritain    200
China       400
Nigeria     500
Ghana       700
Name: G7 populations in Million , dtype: int64

Pandas Indexing and Conditional Selection

In [19]:
x = G7_pop > 700

In [20]:
print (x)

USA         False
BBritain    False
China       False
Nigeria     False
Ghana       False
Canada       True
Cuba         True
Name: G7 populations in Million , dtype: bool

In [21]:
G7_pop[(G7_pop > 700) | (G7_pop <= 150) ]

USA        100
Canada    3400
Cuba      1400
Name: G7 populations in Million , dtype: int64

In [22]:
G7_pop[(G7_pop > 700) & (G7_pop < 200) ]

Series([], Name: G7 populations in Million , dtype: int64)

In [23]:
G7_pop * 1_000_000

USA          100000000
BBritain     200000000
China        400000000
Nigeria      500000000
Ghana        700000000
Canada      3400000000
Cuba        1400000000
Name: G7 populations in Million , dtype: int64

In [24]:
G7_pop * 1_000_000

USA          100000000
BBritain     200000000
China        400000000
Nigeria      500000000
Ghana        700000000
Canada      3400000000
Cuba        1400000000
Name: G7 populations in Million , dtype: int64

In [25]:
G7_pop.mean()

957.1428571428571

In [26]:
G7_pop.std()

1158.8171308956141

In [27]:
G7_pop * 1_000_000

USA          100000000
BBritain     200000000
China        400000000
Nigeria      500000000
Ghana        700000000
Canada      3400000000
Cuba        1400000000
Name: G7 populations in Million , dtype: int64

modifying series

In [28]:
G7_pop['USA'] = 5000000

In [29]:
G7_pop

USA         5000000
BBritain        200
China           400
Nigeria         500
Ghana           700
Canada         3400
Cuba           1400
Name: G7 populations in Million , dtype: int64

In [30]:
G7_pop.iloc[-1] = 60000

In [31]:
G7_pop

USA         5000000
BBritain        200
China           400
Nigeria         500
Ghana           700
Canada         3400
Cuba          60000
Name: G7 populations in Million , dtype: int64

In [32]:
G7_pop[G7_pop < 700 ]

BBritain    200
China       400
Nigeria     500
Name: G7 populations in Million , dtype: int64

In [33]:
G7_pop[G7_pop < 700]=90000

In [34]:
G7_pop

USA         5000000
BBritain      90000
China         90000
Nigeria       90000
Ghana           700
Canada         3400
Cuba          60000
Name: G7 populations in Million , dtype: int64

Pandas DataFrames

In [35]:


df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [36]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [37]:
df.index =  [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [38]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [40]:
df.size

35

In [41]:
df.shape

(7, 5)

In [42]:
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [43]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [44]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
dtype: int64

Indexing, Selection and Slicing

Individual columns in the DataFrame can be selected with regular indexing. Each column is represented as a Series

In [45]:
df.loc['Canada']

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [46]:
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [47]:
df['Population']

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [48]:
df['HDI']

Canada            0.913
France            0.888
Germany           0.916
Italy             0.873
Japan             0.891
United Kingdom    0.907
United States     0.915
Name: HDI, dtype: float64

df.horizontal
df[vertical]

In [49]:
df.loc['Canada':'Japan']

         Population      GDP  Surface Area    HDI Continent
Canada       35.467  1785387       9984670  0.913   America
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe
Japan       127.061  4602367        377930  0.891      Asia

In [50]:
df.iloc[6]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [51]:
df['Population'].to_frame()

                Population
Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United States      318.523

In [52]:
df[['Population', 'GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075

In [53]:
df[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [54]:
#Row level selection works better with loc and iloc which are recommended over regular "direct slicing" (df[:]).

#loc selects rows matching the given index:
df.loc['Italy']

Population       60.665
GDP             2167744
Surface Area     301336
HDI               0.873
Continent        Europe
Name: Italy, dtype: object

In [55]:
df.loc['France': 'Italy']

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe

As a second "argument", you can pass the column(s) you'd like to select:

In [56]:
df.loc['France': 'Italy', 'Population']

France     63.951
Germany    80.940
Italy      60.665
Name: Population, dtype: float64

In [57]:
df.loc['France': 'Italy', ['Population', 'GDP']]

         Population      GDP
France       63.951  2833687
Germany      80.940  3874437
Italy        60.665  2167744

iloc works with the (numeric) "position" of the index:

In [58]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [59]:
df.iloc[0]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [60]:
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [61]:
df.iloc[[0, 1, -1]]

               Population       GDP  Surface Area    HDI Continent
Canada             35.467   1785387       9984670  0.913   America
France             63.951   2833687        640679  0.888    Europe
United States     318.523  17348075       9525067  0.915   America

In [62]:
df.iloc[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [63]:
df.iloc[1:3, 3]

France     0.888
Germany    0.916
Name: HDI, dtype: float64

In [64]:
df.iloc[1:3, [0, 3]]

         Population    HDI
France       63.951  0.888
Germany      80.940  0.916

In [65]:
df.iloc[1:3, 1:3]

             GDP  Surface Area
France   2833687        640679
Germany  3874437        357114

In [66]:
import pandas as pd

certificates_earned = pd.DataFrame({
    'Certificates': [8, 2, 5, 6],
    'Time (in months)': [16, 5, 9, 12]
})

certificates_earned.index = ['Tom', 'Kris', 'Ahmad', 'Beau']

print(certificates_earned.iloc[2])

Certificates        5
Time (in months)    9
Name: Ahmad, dtype: int64

Conditional selection (boolean arrays)

In [67]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [68]:
df['Population'] > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Population, dtype: bool

In [69]:
df.loc[df['Population'] > 70]

               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

In [70]:
df.loc[df['Population'] > 70, ['Population', 'GDP']]

               Population       GDP
Germany            80.940   3874437
Japan             127.061   4602367
United States     318.523  17348075

Dropping stuff

Opposed to the concept of selection, we have "dropping". Instead of pointing out which values you'd like to select you could point which ones you'd like to drop:

In [71]:
df.drop('Canada')

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [72]:
df.drop(['Canada', 'Japan'])

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America