<a href="https://colab.research.google.com/github/Bigmee/Data-analysis-python-/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
x = np.arange(7)

In [ ]:
certificates_earned = pd.Series(
    [8, 2, 5, 6],
    index=['Tom', 'Kris', 'Ahmad', 'Beau']
)

print(certificates_earned)

Tom      8
Kris     2
Ahmad    5
Beau     6
dtype: int64

Data Structure: Series

In [ ]:
##IN MILLIONS 
G7_pop = pd.Series([100, 200, 400, 500, 700, 3400, 1400])

In [ ]:
G7_pop

0     100
1     200
2     400
3     500
4     700
5    3400
6    1400
dtype: int64

In [ ]:
G7_pop.size

7

In [ ]:
G7_pop.name = "G7 populations in Million "

In [ ]:
G7_pop.dtype

dtype('int64')

In [ ]:
G7_pop.values

array([ 100,  200,  400,  500,  700, 3400, 1400])

In [ ]:
type(G7_pop.values)

numpy.ndarray

In [ ]:
G7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [ ]:
G7_pop[1:4]

1    200
2    400
3    500
Name: G7 populations in Million , dtype: int64

In [ ]:
G7_pop.index = [
    'USA', 'BBritain', 'China', 'Nigeria', 'Ghana', 'Canada', 'Cuba'
]

In [ ]:
G7_pop

USA          100
BBritain     200
China        400
Nigeria      500
Ghana        700
Canada      3400
Cuba        1400
Name: G7 populations in Million , dtype: int64

In [ ]:
##indexing
G7_pop['China']

400

In [ ]:
#numerical position

G7_pop.iloc[0]

100

In [ ]:
G7_pop[['Canada', 'Ghana']]

Canada    3400
Ghana      700
Name: G7 populations in Million , dtype: int64

In [ ]:
G7_pop['USA': 'Ghana']

USA         100
BBritain    200
China       400
Nigeria     500
Ghana       700
Name: G7 populations in Million , dtype: int64

Pandas Indexing and Conditional Selection

In [ ]:
x = G7_pop > 700

In [ ]:
print (x)

USA         False
BBritain    False
China       False
Nigeria     False
Ghana       False
Canada       True
Cuba         True
Name: G7 populations in Million , dtype: bool

In [ ]:
G7_pop[(G7_pop > 700) | (G7_pop <= 150) ]

USA        100
Canada    3400
Cuba      1400
Name: G7 populations in Million , dtype: int64

In [ ]:
G7_pop[(G7_pop > 700) & (G7_pop < 200) ]

Series([], Name: G7 populations in Million , dtype: int64)

In [ ]:
G7_pop * 1_000_000

USA          100000000
BBritain     200000000
China        400000000
Nigeria      500000000
Ghana        700000000
Canada      3400000000
Cuba        1400000000
Name: G7 populations in Million , dtype: int64

In [ ]:
G7_pop * 1_000_000

USA          100000000
BBritain     200000000
China        400000000
Nigeria      500000000
Ghana        700000000
Canada      3400000000
Cuba        1400000000
Name: G7 populations in Million , dtype: int64

In [ ]:
G7_pop.mean()

957.1428571428571

In [ ]:
G7_pop.std()

1158.8171308956141

In [ ]:
G7_pop * 1_000_000

USA          100000000
BBritain     200000000
China        400000000
Nigeria      500000000
Ghana        700000000
Canada      3400000000
Cuba        1400000000
Name: G7 populations in Million , dtype: int64

modifying series

In [ ]:
G7_pop['USA'] = 5000000

In [ ]:
G7_pop

USA         5000000
BBritain        200
China           400
Nigeria         500
Ghana           700
Canada         3400
Cuba           1400
Name: G7 populations in Million , dtype: int64

In [74]:
G7_pop.iloc[-1] = 60000

In [75]:
G7_pop

USA         5000000
BBritain        200
China           400
Nigeria         500
Ghana           700
Canada         3400
Cuba          60000
Name: G7 populations in Million , dtype: int64

In [76]:
G7_pop[G7_pop < 700 ]

BBritain    200
China       400
Nigeria     500
Name: G7 populations in Million , dtype: int64

In [77]:
G7_pop[G7_pop < 700]=90000

In [79]:
G7_pop

USA         5000000
BBritain      90000
China         90000
Nigeria       90000
Ghana           700
Canada         3400
Cuba          60000
Name: G7 populations in Million , dtype: int64

Pandas DataFrames

In [80]:


df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [81]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [83]:
df.index =  [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [84]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America